*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Poppins";
    src: url("/Шрифты/Poppins-Light.ttf") format("opentype")
}
@font-face {
    font-family: "Palat_Roman";
    src: url("/Шрифты/palatinolinotype_roman.ttf") format("opentype")
}

.body{
    height: 1000vh;
    background-color: gray;
    overflow-x: hidden;
}
.my_div{
    position: relative;
    position: absolute;
}

.backend{
    height: 100vh;
    width: 1440px;
    background-color: #FAFAFA;
    margin: 0% 12%;
}

.header {
    display: flex;
    height: 80px;
    margin: 0px 120px;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
}
.nav-item{
    color: gray;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 15px;
}
.nav:hover {
    background-color: #e6e6e6;
    border-radius: 30px;
  }
.section1 img{
    margin-left: 15px;
}
.section1{
    margin: 68px 320px;
    justify-content: left;
    text-align: left;
}
.November{
    font-size: 11px;
}
.logotype2{
    width: auto;
    height: 50px;
    margin-left: 10px;
}
.title{
    color: 353732;
    word-wrap: break-word;
    font-size: 40px;
    margin-left: 10px;
}
.section2{
    background-color: aliceblue;
}
.section3{
    display: flex;
}

#fen1{
    justify-content: center;
    background-color: white;
    width: 507px; 
    height: 553px;
    border-radius: 10px;
    transition: transform 1s ease-in-out;
}
#fen1:hover{
    transform: scale(1.2);
    
}
#fen2{
    justify-content: center;
    background-color: white;
    width: 245px; 
    height: 258px;
    border-radius: 10px;
    margin-bottom: 16px;
    transition: transform 1s ease-in-out;
}
#fen2:hover{
    transform: scale(1.2);
    
}
#fen3{
    justify-content: center;
    background-color: white;
    width: 245px; 
    height: 279px;
    border-radius: 10px;
    transition: transform 1s ease-in-out;
}
#fen3:hover{
    transform: scale(1.2);
    
}
.fen4{
    background-color: white;
    border-radius: 10px;
    height: 350px;
    transition: transform 1s ease-in-out;
}
.fen4:hover{
    transform: scale(1.2);
    
}
.fen4 img{
    justify-content: center;
    background-color: white;
    height: 210px;
    width: 374px;
}
.freephoto{
    background-color: white;
    border-radius: 10px;
    height: 280px;
    transition: transform 1s ease-in-out;
}
.freephoto:hover{
    transform: scale(1.2);
    
}
.freephoto img{
    
    justify-content: center;
    height: 137px;
    width: 243px;
}
.section4{
    padding: 130px 300px;
    display: flex;
    background-color: white;
}
.Inp{
    width: 376px;
    height: 38px;
    border-radius: 10px;
    border: none;
    background-color: #E5E7EB;
}
.butsearch{
    margin-right: 30px;
    margin-top: 10px;
    width: 82px;
    height: 38px;
    border-radius: 10px;
    background-color:#353732;
    justify-content: center;
    transition: background-color 1s ease-in-out;
    
}
.butsearch:hover {
    background-color: rgb(255, 255, 255);
  }
.page4_name{
    font-size: 18px;
    font-family: 'Palat_Roman';
    padding-bottom: 8px;
}

.zone1{
    display: flex;
    margin-left: 300px;
    transition: transform 1s ease-in-out;
}
.zone1:hover{
    transform: scale(1.2);
    
}
.zone1 img{
    
    height: 122px;
    width: 200px;
    border-radius: 10px;
}
.view{
    justify-content: center;
    display: flex;
    padding: 80px;
    
}
.footer{
    justify-content: center;
    background-color: white;
    padding-top: 90px;
    padding-left: 300px;
    padding-bottom: 90px ;
    
}
.text1{
    font-size: 14px;
}